body {
    font-family: Arial, sans-serif;
    background-color: #2C2F33;
    color: white;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #7289DA;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    background-color: #7289DA;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

form {
    background: #23272A;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #43B581;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
